@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Open Sans' , sans-serif;
    background: #fff;
    color: black;
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    color:#333;
    text-decoration: none;
}

h1,h2 {
    font-weight: 300;
    line-height: 1.2;
}

p{
    margin: 10px 0 ;
}

img{
    width: 100%;
}

/* Navbar */
.navbar{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    background-color:#333 ;
    color: #fff ;
    opacity: 0.8 ;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}

.navbar a{
    color: #fff;
    margin: 0 5px;
    padding: 10px 20px;
}

/* border-bottom me color ke sath niche lne aayega 2 px ka  */
.navbar a:hover{
    border-bottom: #28a745 2px solid;

}

.navbar ul{
    display: flex;
    
}

/* Header */
.hero{
    background: url('./images/home/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position:relative;
    color: #fff;
    /* filter: brightness(30%); */
}



.content{
    /* position: absolute; */
    display: flex;                                                                                                                                                                                                                                                                                                                                                                              
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    text-align: center;
    padding: 0 20px;                                                   
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* z-index: 100; */

    

                                                                                                
}                      

.content h1{
    font-size: 55px;
        color: #fff !important;

    
    
}

.content p{
    font-size:23px ;
    max-width:600px ;
    margin:20px 0 30px ;
}

.hero::before{
    content: '';
    position: absolute;
    top: o;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.6);
}

/* z-index level up krdeta hai mtlb "the sky is limit" ko upar kr dia
higher z-index jyada closer to screen
lower z-index far from screen or screen ke under
.her0 * ka matlab anything in hero */
.hero *{
    z-index: 10;
}

